@model EasyIdentitySample.ViewModel.MemberViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var returnUrl = Context.Request.Query["ReturnUrl"];
}

<h2>Login</h2>
<form asp-action="Index" asp-controller="Member" method="post">
    <label asp-for="Account">
        <input asp-for="Account">
    </label>
    <br/>
    <label asp-for="Password">
        <input asp-for="Password">
    </label>
    <br>
    <button>Submit</button>
    <input name="ReturnUrl" type="hidden" value="@returnUrl">
</form>